:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-toolbar {
  height: 80px; 
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.toolbar-title {
  font-size: 24px;
  font-weight: 500;
}

.toolbar-logo {
  height: 50px; 
  margin-right: 16px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.back-button {
  background-color: white !important; 
  color: black !important;          
  mat-icon {
    color: black !important;
  }
}

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
