:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-toolbar {
  height: 80px; 
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f44336; 
  color: white;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; 
}

.toolbar-logo-container {
  height: 60%;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 16px;
}

.toolbar-logo {
  height: 100%; 
  width: auto;
  object-fit: contain; 
  background-color: white;
  border-radius: 50%;
  padding: 2px; 
}

.toolbar-title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.back-button {
  background-color: white !important; 
  color: black !important;
  font-weight: bold;
  
  mat-icon {
    color: black !important;
  }
}

.app-container {
  width: 100%;
  &.dashboard-layout {
    flex-grow: 1;
    overflow-y: auto; 
    height: calc(100vh - 80px); 
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    box-sizing: border-box;
  }

  &.login-layout {
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    display: flex;    
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .toolbar-logo-container {
    height: 50%; 
    margin-right: 8px;
  }
  
  .toolbar-title {
    font-size: 1.2rem;
  }
  
  .app-container.dashboard-layout {
    padding: 16px;
    display: block;
  }
}