:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-toolbar {
  height: 80px; 
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; /* ¡Añadir esta línea! */
}

/* Nuevos estilos para el logo */
.toolbar-logo, .toolbar-logo-container {
  height: 100%; /* Asegura que el contenedor y la imagen se ajusten a la altura del toolbar */
}

.toolbar-logo {
  margin-right: 16px;
  object-fit: contain; /* Evita que la imagen se distorsione */
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.back-button {
  background-color: white !important; 
  color: black !important;          
  mat-icon {
    color: black !important;
  }
}

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .toolbar-logo {
    height: 30px; /* Tamaño más pequeño para móviles */
    margin-right: 4px;
  }
  .toolbar-title {
    font-size: 1.2rem;
  }
}