@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #ffffff; 
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important;
}

.mat-primary {
    --mdc-theme-primary: #d32f2f;
    --mdc-theme-on-primary: #fff;
}

.mat-warn {
    --mdc-theme-primary: #d32f2f;
    --mdc-theme-on-primary: #fff;
}
