@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');



html,
body {

  height: 100%;

}

body {

  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: #ffffff;

}



.mdc-text-field--filled:not(.mdc-text-field--disabled) {

  background-color: #fff !important;

}



.mat-primary {

  --mdc-theme-primary: #d32f2f;

  --mdc-theme-on-primary: #fff;

}



.mat-warn {

  --mdc-theme-primary: #d32f2f;

  --mdc-theme-on-primary: #fff;

}



/* Agrega esto al final de tu styles.scss */

app-root {

  display: block;

  height: 100%;

}

.forbidden-snackbar .mdc-snackbar__surface {
  background: #c62828;
}
