<h2 mat-dialog-title class="dialog-title">{{ dialogTitle }}</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="checklistForm">
    <div class="form-row">
      <mat-form-field class="form-field-half" appearance="outline">
        <mat-label>Persona a Cargo</mat-label>
        <input matInput formControlName="personaCargo" placeholder="Ej: Juan Pérez" />
        @if (checklistForm.get('personaCargo')?.hasError('required')) {
        <mat-error>Este campo es requerido.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-field-half" appearance="outline">
        <mat-label>Fecha de Realización</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaRealizacion" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (checklistForm.get('fechaRealizacion')?.hasError('required')) {
        <mat-error>Este campo es requerido.</mat-error>
        }
      </mat-form-field>
    </div>
  </form>

  <mat-divider class="section-divider"></mat-divider>
  <h3 class="section-title">Tareas del Checklist</h3>

  <div class="add-task-row">
    <mat-form-field class="add-task-field" appearance="outline">
      <mat-label>Nueva Tarea</mat-label>
      <input
        matInput
        [ngModel]="newTaskName()"
        (ngModelChange)="newTaskName.set($event)"
        (keyup.enter)="onAddTask()"
        placeholder="Ej: Revisar niveles de aceite"
      />
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="add-btn"
      (click)="onAddTask()"
      [disabled]="!newTaskName().trim()"
    >
      <mat-icon>add</mat-icon>
      Añadir
    </button>
  </div>

  <div class="task-list-container">
    @if (tasks().length === 0) {
      <div class="empty-state-container">
        <mat-icon>assignment</mat-icon>
        <p>Aún no se han añadido tareas.</p>
      </div>
    } @else {
      <mat-list class="task-list">
        @for (task of tasks(); track task.id) {
          <mat-list-item class="task-item">
            <div class="item-content">
              <span class="task-text">{{ task.task }}</span>
              
              <button
                mat-icon-button
                color="warn"
                class="remove-task-btn"
                (click)="onRemoveTask(task.id)"
                matTooltip="Eliminar tarea"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      </mat-list>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    (click)="onSave()"
    [disabled]="checklistForm.invalid || tasks().length === 0"
  >
    {{ submitButtonLabel }}
  </button>
</mat-dialog-actions>