<div class="main-login-container">
  <div class="background-pattern"></div>

  <mat-card class="login-card">
    <div class="top-institutional-panel">
      <div class="logo-container">
        <img src="/logo_bomberos.png" alt="Escudo Institucional" class="logo-img">
      </div>
      
      <div class="institution-titles">
        <h1 class="welcome-title">SIGBA</h1>
        <p class="welcome-subtitle">Cuerpo de Bomberos de Antofagasta</p>
      </div>
    </div>

    <div class="bottom-form-panel">
      <h2 class="form-title">INICIAR SESIÓN</h2>
      <p class="form-instruction">Ingrese sus credenciales para acceder.</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="error-message" *ngIf="errorMessage">
          <mat-icon class="error-icon">error_outline</mat-icon>
          <span>{{ errorMessage }}</span>
        </div>

        <mat-form-field appearance="outline" class="login-form-field">
          <mat-label>Email o Usuario</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input matInput formControlName="email" type="email">
          <mat-error *ngIf="emailControl?.invalid && emailControl?.touched">
            Email inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-form-field">
          <mat-label>Contraseña</mat-label>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Contraseña requerida.
          </mat-error>
        </mat-form-field>
        
        <div class="form-actions">
          <a routerLink="/recover-password" class="forgot-password-link">¿Olvidó su contraseña?</a>
        </div>

        <div class="form-actions-column">
          <button 
            mat-flat-button 
            type="submit" 
            [disabled]="loginForm.invalid || isLoading"
            class="login-button"
          >
            @if (isLoading) {
              <mat-spinner diameter="20" color="accent"></mat-spinner>
              <span>VALIDANDO...</span>
            } @else {
              <span>INGRESAR</span>
            }
          </button>

          <button type="button" class="register-button" routerLink="/register">
            CREAR CUENTA
          </button>
        </div>

      </form>
    </div>
    
    <div class="card-footer">
      <p>© 2025 Compañía de Bomberos de Antofagasta</p>
    </div>
  </mat-card>
</div>